<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wnhyang.coolguard.decision.mapper.IndicatorMapper">


    <select id="selectPage0" resultType="cn.wnhyang.coolguard.decision.dto.IndicatorDTO">
        SELECT t.id,
        t.code,
        t.name,
        t.publish,
        t.type,
        t.calc_field,
        t.return_type,
        t.return_flag,
        t.win_size,
        t.win_type,
        t.win_count,
        t.time_slice,
        t.master_field,
        t.slave_fields,
        t.compute_script,
        t.scenes,
        t.scene_type,
        t.cond,
        t.description,
        t.create_time,
        t.update_time,
        t.creator,
        t.updater,
        t1.latest AS latest,
        t1.version AS version,
        t1.version_desc AS versionDesc
        FROM de_indicator t
        LEFT JOIN (SELECT t2.code, t2.latest, t2.version, t2.version_desc
        FROM de_indicator_version t2
        INNER JOIN (SELECT code, MAX(version) AS max_version
        FROM de_indicator_version
        GROUP BY code) t3
        ON t2.code = t3.code AND t2.version = t3.max_version) t1
        ON (t1.code = t.code)
        <where>
            <!-- code 条件 -->
            <if test="code != null and code.trim() != ''">
                AND t.code LIKE CONCAT('%', #{code}, '%')
            </if>

            <!-- publish 条件 -->
            <if test="publish != null">
                AND a.publish = #{publish}
            </if>

            <!-- latest 条件 -->
            <if test="latest != null">
                <if test="latest == true">
                    AND t1.latest = TRUE
                </if>
            </if>

            <!-- hasVersion 条件 -->
            <if test="hasVersion != null">
                <if test="hasVersion == true">
                    AND t1.version IS NOT NULL
                </if>
            </if>

            <!-- 全量返回逻辑 -->
            <if test="latest == null and hasVersion == null">
                OR t1.id IS NOT NULL
            </if>
        </where>
        LIMIT ?
    </select>
</mapper>
